{% extends 'base.html' %}

{% block head %}
<title>New Employee List</title>
{% endblock %}

{% block body %}

<div class="form-container">
    
    <h1>New Employee List</h1>
    <form action="/final_project" method="POST" enctype="multipart/form-data">

        <label for="PT">Employee Name:</label><br/>
        <input type="text" name="pTask" id="pTask" required><br><br> 

        <!-- Dropdown -->
        <label for="Project-type">Employee Role:</label><br/>
        <select id="task-type" name="task_type" required>
            <option value="">Select Employee Role</option>
            <option value="Cloud Architect">Cloud Architect</option>
            <option value="Cybersecurity Analyst">Cybersecurity Analyst</option>
            <option value="Software Developer">Software Developer</option>
        </select>
        <br><br> 

        <label for="priority">Proficiency Level (1-5):</label><br/>
        <input type="number" name="pr" id="pr" min="1" max="5" required><br><br> 

        <label for="due-date">Joining Date:</label><br/>
        <input type="date" id="due-date" name="due_date" required>
        <br><br>
        
        <!-- File Upload -->
        <label for="file-upload">Upload Resume:</label><br/>
        <input type="file" id="file-upload" name="file_upload" required>
        <br><br>

        <!-- Submit Button -->
        <input type="submit" value="Add Project" id="sub">
    </form>
    
    <h1>Existing Employees</h1>
    {% if projects|length < 1 %}
        <h4 style="text-align: center">There are no Employees found. Add a New Employee!</h4>
        {% else %}
        <table class="table_style">
            <tr>
                <th>
                    <a href="?sort_column=priority">Employee Name</a>
                </th>
                <th>
                    <a href="?sort_column=category">Employee Role</a>
                </th>
                <th>
                    <a href="?sort_column=due_date">Joining Date:</a>
                </th>
        <th>Proficiency Level</th>
        <th>Resume</th>
        <th>Actions</th>
    </tr>
    {% for project in projects %}
    <tr>
        <td>{{project.task}}</td>
        <td>{{project.category}}</td>
        <td>{{project.due_date}}</td>
        <td>{{project.priority}}</td>
        <td>
            <a href="{{ url_for('static', filename='uploads/' + project.file_name) }}" >
                <img src="{{ url_for('static', filename='uploads/' + project.file_name) }}" alt="{{ project.file_name }}" style="max-width: 50px; max-height: 50px;">
            </a>
        </td>
        <td>
             <a href="/update_form/{{project.id}}" style="padding-bottom: 10px;">Update</a>
            <br>
            <form action="/delete_form/{{ project.id }}" method="POST" style="display: inline;">
                <button type="submit" id="del">
                    Delete
                </button>
            </form>
        </td>
    </tr> 
    {% endfor %}
</table>
{% endif %}
<div style="text-align: center; margin-top:20px;">
    <a href="/">Go back to homepage</a>
</div>
</div>



{% endblock %}